@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* General Styling */
:root {
  --logo-color: #d45f5f;
  --blood-orange: #fe5f55;
  --cream-background: #f4f2dd;
  --footer-color: #e9e6d5;
  --onyx:  #31343C;
}



/* included later on */
.custom-btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--chocotonic-green);
  --bs-btn-border-color: var(--chocotonic-green);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--chocotonic-green-hover);
  --bs-btn-hover-border-color: var(--chocotonic-green-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--chocotonic-green-hover);
  --bs-btn-active-border-color: var(--chocotonic-green-hover);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--chocotonic-green-hover);
  --bs-btn-disabled-border-color: var(--chocotonic-green-hover);
  margin-right: 10px;
}

select:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px var(--blood-orange) !important;
}

textarea:focus {
  outline: none !important;
  box-shadow: 0 0 0 4px var(--blood-orange) !important;
}


.dark-mode {
  background-color: black;
  color: var(--cream-background);
}

.bg-color {
  background-color: var(--cream-background);
}

.bg-card-color {
  background-color: var(--cream-background);
  border-color: var(--onyx);
  border-radius: var(--onyx);
  border-radius: 10px;
}
/* syntax(--logo-color) */

.form-group {
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
  align-items: center;
}

.footer-footer {
  background-color: var(--footer-color);
}

.top-spacing {
  margin-top: 40px;
}
.botttom-spacing {
  margin-bottom: 20px;
}
.mdMR {
  margin-right: 10px;
} 

.lgMR {
  margin-right: 20px;
}

.mdML {
  margin-left: 10px
}
/* Hair Growth page  */

.hair-jumbotron {
  width: 100%;
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1523278669709-c05da80b6a65?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.hair_jimmy {
  max-width:100%;
  max-height: 100%;
  object-fit: fill;
}
.text-center {
  text-align: center;
}

.statistics {
  /* margin-top: 50px; */
  /* margin-bottom: 50px; */
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  text-align: center;
  color: var(--onyx)
}
.yoga-text {
  font-family: 'Pacifico', cursive;
  font-size: 15px;
  text-align: center;
}

.ul-text {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  color: var(--onyx)
}

.pacifico-bold-white {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: white;
}



/* Home page */
.jumbotron {
  width: 100%;
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1567721971759-12402aedabf0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.recycle-jumbotron {
  width: 100%;
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1495556650867-99590cea3657?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.pacifico-recycle {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: white;
  text-shadow: -1px 1px 2px #000,
        1px 1px 2px #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}


.center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 30vh;
  margin-top: 30vh;
  /* background-color: var(--cream-background) */
}

/* Navbar */
.sticky-nav {
  background-color: var(--cream-background);
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
}

.icon-center {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

/* Font & Icon Styling  */
.feature-icon {
  font-size: 35px;
  margin-right: 20px
}

.pacifico-bold {
  font-family: 'Pacifico', cursive;
  font-size: 70px;
  color: var(--blood-orange);
}


.pacifico-reg {
  font-family: 'Pacifico', cursive;
  color: var(--blood-orange);
}

.onyx-reg {
  font-family: 'Pacifico', cursive;
  color: var(--onyx)
}

/* Shop styling */

.navbar-text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  height: 50px;
  background-color: var(--cream-background);
  color: var(--logo-color);
  font-family: 'Pacifico', cursive;
  background-size: cover;
  text-align: center;
  flex-direction: row;
  align-items: center;
}


.shop-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--blood-orange); 
  padding: 10px 20px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--logo-color);
  margin-right: 10px;
  --bs-btn-active-bg: var(--logo-color);
  --bs-btn-active-color: var(--cream-background);
}

.shop-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

/* find way to edit blue after effect */
.shop-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}

.pagination {
  color: var(--cream-background);
}

/* Cart styling */
.cart-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--blood-orange); 
  padding: 10px 20px;
  font-size: 17px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--logo-color);
  margin-bottom: 20px;
  margin-right: 10px;
}
.cart-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}

.cart-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

.search-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 35vw;
  border-radius: 1vh;
  text-align: center;
  background-color: var(--footer-color);
  color: var(--logo-color);
  border: 1px solid #31343C;
}

.product-margining {
  margin: 50px;
}



/* Product by ID page */
.product-img {
  align-items: center;
  justify-content: center;
  /* max-width: 100%; */
  width: 70vh;
  height: 60vh;
  padding-right: 20px

}

.product-description {
  text-align: center;
  margin-top: 30px;
  align-items: center;
}

.quantity-styling {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px
}

.quantity-button {
  margin-right: 10px;
  margin-left: 10px
}

.accordion-drip {
  background-color: var(--cream-background);
  border-color: var(--logo-color);
  --bs-accordion-active-color: var(--logo-color);
  --bs-accordion-active-bg: var(--cream-background);
  --bs-accordion-btn-focus-box-shadow: 0.25rem var(--blood-orange);
  --bs-accordion-btn-active-icon: None;
  /* padding: 20px; */
}

.accordion-font {
  font-family: 'Pacifico', cursive;
  padding: 25px;
}

.lgMT {
  margin-top: 80px
}
/* Cart syling */

.subtotal {
  background-color: var(--onyx);
  text-align: center;
  margin: 4vh;
  padding: 60px;
  color: var(--footer-color);
}
.cart-data {
  background-color: var(--footer-color);
  margin: 5vh;
  padding: 30px;
  position: relative;
  align-items: center
}
.custom-cart-button{
  position: relative;
}

@media screen and (min-width: 64em) {
.cart_section {
    margin: 0 0 1.25rem;
    padding: 1.25rem;
}
.cart_section {
    background: var(--cream-background);
    margin: 1vw;
    padding: 40px;
}
}


/* Product Card */
.pagination {
  display: flex;
} 

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #fe5f55;
  color: #31343C;
  border-radius: 10px;
}

.pagination a:hover:not(.active) {
  background-color: #f4f2dd;
  color: #fe5f55;
  border-radius: 10px;
}


/* card animation load */
.deck {
  display:flex;
  flex-wrap:wrap;
  list-style:none;
  overflow:hidden;
}

.card-ani-load {
  transform:translateX(100vw) translateY(100vh) rotate(15deg);
  transition:all 1s ease-out;
}

.card-ani-load .content {
  opacity:0;
  transition:all 2s ease-out;
}

.card-ani-load.loaded {
  opacity:1;
  transform:translateX(0) translateY(0) rotate(0);
}

.card-ani-load.loaded .content.loaded {
  opacity:1;
}

.card-animation {
  padding: 10px;
  border: white;
}

.card-animation:hover {
  border: .5px solid #31343C;
  box-shadow: 10px 10px 8px #aaaaaa;
  background-color: var(--footer-color);
}

.card-img {
  width: 32vh;
  height: 23vh;
  justify-content: center;
  align-items: center;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

card-img:hover  {
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.card-animation:hover .card-img {
  background-color: red;
  opacity: 0.7;
}

/* Works with Base Css */
/* 
.card-animation {
  position: relative;
  width: 50%;
  background-color: red;
  margin: 5vw
}

.card-animation:hover {
   border: .5px solid #31343C;
   box-shadow: 10px 10px 8px #aaaaaa;
   
}

.card-img {
  opacity: 1;
  display: block;
  width: 50%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.card-animation:hover .card-img {
  opacity: 0.3;
} */


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}


/* add to card styling */


/* .custom-pagination {
  display: flex;
  justify-content: center;
}

.custom-pagination .page-item > a {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  margin: 0 2px;
  padding: 0.375rem 0.75rem;
}

.custom-pagination .page-item.active > a {
  background-color: #fe5f55;
  border-color: #fe5f55;
  color: #fff;
}

.custom-pagination .page-item.disabled > a {
  color: #999;
  pointer-events: none;
  cursor: not-allowed;
} */

/* Cart */
.base-text {
  font-family: 'Pacifico', cursive;
  color: var(--logo-color)
}

/* Checkout Styling */
.checkout-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--cream-background); 
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--footer-color);
  margin-top: 5vh; 
  margin-right: 10px;
}

.checkout-button:hover {
  background-color: var(--blood-orange);
  color: var(--cream-background);
}

.checkout-center {
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* find way to edit blue after effect */
.checkout-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}

.checkout-cards {
  background-color: var(--cream-background);
  padding-right: 20px;
  margin-right: 20px
}

.check-left-bg {
  background-color: var(--logo-color);
  min-height: 75vh;
}

.check-right-bg {
  background-color: var(--footer-color);
  min-height: 75vh;
  /* background: 100vh; */
}



/* User Profile */
.review-section {
  color: var(--cream-background);
  width: 100%;
  height: 30vh;
  background-color: var(--onyx);
  background-size: cover;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
  margin-top: 20vh;
}

.profile-button {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
  background-color: var(--blood-orange); 
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  var(--logo-color);
  margin-top: 5vh; 
  margin-right: 10px;
}

.profile-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

/* find way to edit blue after effect */
.profile-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}

.user-info {
  background-size: cover;
  text-align: center;
  justify-content: center;
  padding-top: 13vh;
  color: var(--onyx);
  /* padding-bottom: 10vh; */
}

.order-history {
  margin-top: 10vh;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 20px;
}


/* Edit Profile */
.smMT {
  margin-top: 1vh
}

.smMB {
  margin-bottom: 2vh
}

.mdMT {
  margin-top: 5vh
}

.mdMB {
  margin-bottom: 5vh
}

.title-text {
  font-family: 'Pacifico', cursive;
  color: var(--onyx);
}

.title-text:hover {
  color: var(--blood-orange);
}

.title-placement {
  margin-top: 5vh;
  margin-bottom: 5vh;
}
.edit-profile-button {
  font-family: 'Pacifico', cursive;
  --bs-btn-active-bg: var(--logo-color);
  --bs-btn-active-color: var(--cream-background);
  color: var(--onyx);
  background-color: var(--blood-orange); 
  background: var(--blood-orange);
  padding: 10px 20px;
  font-size: 17px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px  #c05151; 
  margin-right: 10px;
}

.edit-profile-button:hover {
  background-color: var(--cream-background);
  color: var(--logo-color);
}

/* find way to edit blue after effect */
.edit-profile-button:after {
  background-color: var(--cream-background);
  box-shadow: 0 5px #fff9f9;
  color: var(--blood-orange);
  transform: translateY(4px);
}




/* Loading screen Animation */
.loading {
  margin: 0;
  padding: 0;
  font-family: 'Pacifico', cursive;
  font-weight: 100;
  font-size: 1.1em; 
  position: absolute;
  text-transform: uppercase;  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fe5f55;
}

.full-height {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* gonna change to another tag */
/* span {
  position: relative;
  top: 0.63em;  
  display: inline-block;
  text-transform: uppercase;  
  opacity: 0;
  transform: rotateX(-90deg);
} */

.let1 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.2s;
}

.let2 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let3 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let4 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.5s;

}

.let5 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let6 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let7 {
  font-family: 'Pacifico', cursive;
  animation: drop 1.2s ease-in-out infinite;
  animation-delay: 1.8s;
}

@keyframes drop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    80% {
        opacity: 1;
        top: 3.78em;
        transform: rotateX(-360deg);
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
        top: 6.94em
    }
}


/* Animate css scroll animation */

/* section{
  min-height: 100vh;
  display: flex;
  align-items: center;
}

section .container{
  margin: 100px;
} */


.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.7s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

